[Desktop Entry]
Version=1.0
Name=Brave
GenericName=Web Browser
StartupNotify=true
StartupWMClass=brave-browser
TryExec=brave
Exec=brave --ozone-platform=wayland %U
Terminal=false
Icon=brave-desktop
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ipfs;x-scheme-handler/ipns;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=brave --ozone-platform=wayland

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=brave --incognito --ozone-platform=wayland
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;
